body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
.rosa {
    background-color: pink;
    text-align: center;
    padding: 20px;
}
.nav {
    display: flex;
    justify-content: space-around; 
    padding: 0;
    margin: 0;
}

.info {
    padding: 10px;
    background-color: pink;
    border-radius: 30px;
    cursor: pointer;
}

.info:hover {
    background-color: rgb(255, 228, 233);
}

.habitos-saludables {
    background-color: #ffc0f1;
    display: flex;
    padding: 20px;
}

.izquierda {
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    width: 200px;
    margin-right: 40px;
}

.izquierda h2 {
    color: black;
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 10px;
}

.izquierda img {
    width: 100%;
}

.derecha h3 {
    background-color: #ffc0f1;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 16px;
}

.derecha p {
    color: black;
    line-height: 1.5;
}

.ejemplos {
    background-color: pink;
    margin: 0px;
    padding: 10px;
    font-size: 15px;
}

.ejemplos article {
    background-color:white;
    margin: 20px;
    width: 250px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}

.ejemplos article img {
    width: 100%;
    height: 200px; 
    border-radius: 10px;
  }
.tarjetas{
    display: flex;
}

.footer {
    background-color: #ffe8f1;
    padding: 20px;
    margin: 0px;
    font-size: 20px;
}